

.loginBox {
  background-color: rgb(255, 255, 255);
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 550px;
  text-align: center;
}

.logo {
  width: 100px;
  display: block;
  margin: 0 auto 25px auto;
}

.title {
  margin-bottom: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #0a2540;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  color: #0a2540;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 600;
}

.input {
  padding: 10px 12px;
  margin-bottom: 20px;
  border: 1.5px solid #0a2540;
  border-radius: 8px;
  font-size: 16px;
    color: #000;
  transition: border-color 0.3s;
}

.input:focus {
  outline: none;
  border-color: #2c88d9;
}

.button {
  background-color: #0a2540;
  color: white;
  border: none;
  padding: 12px 0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #144a7a;
}

.forgotLink {
  margin-top: 15px;
  font-size: 14px;
  color: #0a2540;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s;
}

.forgotLink:hover {
  color: #2c88d9;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5; /* fondo fijo, independiente del modo oscuro */
}
